/*多选样式*/
.grace-multi-dropdown-open {

    .multigrace-btn-group.grace-multi-dropdown {
        
        .grace-btn.btn-primary.dropdown-toggle {
            border: 1px solid #B3D5F7;
            color: #0073E6;

            span {
                font-size: 24px;
            }
        }
    }
}
.multigrace-btn-group.grace-multi-dropdown {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    position: relative;

    .grace-btn.btn-primary.dropdown-toggle {
        border: 1px solid #C2C2D1;
        color: #7F92CB;
        height: 26px;
        width: 26px;

        span {
            font-size: 24px;
        }
        
        &.dropdown-disabled {
            border-color: #666;
            color: #666;
            cursor: not-allowed;

            &:hover {
                border-color: #666;
                color: #666;
            }
        }

            

        &:hover {
            border: 1px solid #B3D5F7;
            color: #0073E6;

            span {
                font-size: 24px;
            }
        }
    }

    .grace-multi-dropdown-body {
        background: #fff;
        border: 1px solid #B3D5F7;
        border-radius: 2px;
        display: none;
        margin-top: 5px;
        position: absolute;
        z-index: 10;
        
        .ul-wrap {
            display: flex;
            max-height: 260px;
            min-height: 160px;

            > ul:last-child {
                border-right: none;
            }

            .dropdown-menu {
                background: #fff;
                border-right: 1px solid #d5e0f2;
                flex: 1;
                float: left;
                margin: 0;
                outline: none;
                overflow-y: auto;
                overflow-x: hidden;
                width: 200px;

                .no-data-content {
                    color: rgba(0,0,0,.6);
                    margin-top: 15px;
                    position: relative;
                    text-align: center;

                    .no-data-left {
                        border-bottom: 1px solid #B3D5F7;
                        height: 10px;
                        left: 18px;
                        position: absolute;
                        width: 46px;
                    }

                    .no-data-right {
                        border-bottom: 1px solid #B3D5F7;
                        height: 10px;
                        position: absolute;
                        right: 18px;
                        width: 46px;
                    }
                }

                &.single-dropdown {
                    width: 200px;
                }
    
                >li {
                    line-height: normal;
                    position: relative;
    
                    i.show-i.option-has-children {
                        border-top: 1px solid;
                        border-right: 1px solid;
                        display: inline-block;
                        height: 6px;
                        position: absolute;
                        right: 10px;
                        top: 15px;
                        transform: rotate(45deg);
                        width: 6px;
                    }
    
                    >.sel-option{
                        color: #666;
                        display: block;
                        padding: 10px 10px 10px 33px;
                    }
    
                    &:hover, &.hover-bg {
                        background-color: #ECF1F8;
                    }
    
                    &.disabled-bg.disabled {
                        .sel-option{
                            color: rgba(0, 0, 0, .4);
                            cursor: not-allowed;
                        }
                    }
    
                    &.selected, &.halfCheckd {
                        .check-icon {
                            background: #2576df;
                        }
                    }
        
                    .check-icon {
                        border: 1px solid #B3D5F7;
                        border-radius: 2px;
                        color: #fff;
                        height: 14px;
                        left: 9px;
                        position: absolute;
                        top: 12px;
                        width: 14px;
        
                        &.item-selected >i {
                            border-right: 2px solid;
                            border-top: 2px solid;
                            display: inline-block;
                            height: 6px;
                            position: absolute;
                            right: 2px;
                            top: 2px;
                            transform: rotate(135deg);
                            width: 8px;
                        }

                        &.item-half-checked >i {
                            border-bottom: 2px solid;
                            display: inline-block;
                            height: 6px;
                            position: absolute;
                            right: 2px;
                            top: 1px;
                            width: 8px;
                        }
                    }
                }
    
                .search-input-wrapper {
                    cursor: default;
                    position: relative;
    
                    .search-input-icon {
                        background: url(./img/grace-search.svg) center no-repeat;
                        height: 16px;
                        left: 15px;
                        position: absolute;
                        top: 12px;
                        width: 16px;
                    }

                    .search-input {
                        border: 1px solid #B3D5F7;
                        border-radius: 2px;
                        font-size: 12px;
                        height: 30px;
                        margin: 5px 4%;
                        padding: 7px 7px 7px calc(4% + 17px);
                        width: 92%;

                        &:focus {
                            border-color: #0073E6;
                        }
                    }

                    .input-clear-icon {
                        background: url(./img/grace-close-circle-f.svg) center no-repeat;
                        cursor: pointer;
                        display: none;
                        height: 11px;
                        position: absolute;
                        right: 17px;
                        top: 15px;
                        width: 11px;

                        &.show-clear {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.grace-multi-dropdown-open {
    .multigrace-btn-group .grace-multi-dropdown-body {
        display: block;
    }
}
